<div class="panel panel-info">
  <div class="panel-heading">Panel Heading for Jobs</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        <%= form_tag jobs_path, method: :get, enforce_utf8: false,
          class: "form-inline pull-right" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for" %>
          <span class="input-group-btn">
            <%= button_tag name: nil, class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-search"></i>
            <% end %>
          </span>
        </div>
        <% end %>
      </div>
    </div>
    <br>

    <table class="table table-dark table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each_with_index do |job, index| %>
          <%= render "job", job: job, index: index %>
          <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <%= paginate @jobs, theme: "twitter-bootstrap-3" %>
  </div>
</div>
